@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.75rem;
        --background: 0.039 0 0;
        --foreground: 0.985 0 0;
        --card: 0.078 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.078 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.398 0.245 27.325;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.269 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.269 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.371 0.15 27.325;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.398 0.245 27.325;
        --chart-1: 0.398 0.245 27.325;
        --chart-2: 0.488 0.243 264.376;
        --chart-3: 0.696 0.17 162.48;
        --chart-4: 0.769 0.188 70.08;
        --chart-5: 0.627 0.265 303.9;
    }

    .dark {
        --background: 0.039 0 0;
        --foreground: 0.985 0 0;
        --card: 0.078 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.102 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.398 0.245 27.325;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.269 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.269 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.371 0.15 27.325;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.398 0.245 27.325;
        --chart-1: 0.398 0.245 27.325;
        --chart-2: 0.488 0.243 264.376;
        --chart-3: 0.696 0.17 162.48;
        --chart-4: 0.769 0.188 70.08;
        --chart-5: 0.627 0.265 303.9;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

